.cr_table_cont { width: 100%; -moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #eee; }
.cr_table_cont table { margin:0; padding:0; }
.cr_table_cont table tr td { font: 12px "Lucida Grande", Arial, sans-serif; padding:8px 10px; margin:0; }
.cr_table_cont .cr_btn { font: 18px "Lucida Grande", Arial, sans-serif; width:auto; background: #9a3333; border:1px solid #206D92; color:#fff; font-weight:bold; margin-top:15px; margin-left:20px; cursor:pointer; width:auto; -moz-border-radius:3px; -webkit-border-radius:3px; padding:1px 4px; text-decoration:none; }
.cr_table_cont .cr_btn:hover { background:#ff9900; }
.cr_table_cont table { width:100%; }
.cr_table_cont tr td { font-style: normal; color: #000000; vertical-align: top;}

.cr_outerTable table { width:100%; }

.cr_table td {  border-top:1px solid #000000; }
.cr_table td.small { width:15px; }

.cr_innerTable td.voiceHeader { font-weight: bold; font-size: 1em; }
.cr_innerTable tr.voice_Soprano1 td { background-color: #e2a39d; }
.cr_innerTable tr.voice_Soprano2 td { background-color: #cd6655; }
.cr_innerTable tr.voice_Alto1 td { background-color: #e4a262; }
.cr_innerTable tr.voice_Alto2 td { background-color: #d18610; }
.cr_innerTable tr.voice_Tenor1 td { background-color: #d775ea; }
.cr_innerTable tr.voice_Tenor2 td { background-color: #b433ea; }
.cr_innerTable tr.voice_Bass1 td { background-color: #a176ea; }
.cr_innerTable tr.voice_Bass2 td { background-color: #7d39ea; }

.cr_innerTable tr.featured td { font-weight:bold; }
.cr_innerTable tr.response_ td { font-style: italic; color: #222222; }
.cr_innerTable tr.response_Yes td { font-style: normal; color: #000000; }
.cr_innerTable tr.response_No td { text-decoration: line-through; color: #222222; }

.cr_innerTable td a {color: #52002C;}

td.cr_head { background-color:#eee; color:#222; width:50%; }
.cr_state img { vertical-align:middle; }

.cr_dropdown { background-color: inherit; font-size: small;}